<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="text-center">Editar Tarefa</h1>
    <form action="{% url 'edit_task' task.id %}" method="post" class="form-inline my-4">
        {% csrf_token %}
        <input type="text" name="content" class="form-control mr-2" value="{{ task.content }}" required>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'index' %}" class="btn btn-secondary ml-2">Cancelar</a>
    </form>
</body>
</html>
